<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>统计分析</title>
    <link rel="stylesheet" href="/static/plugin/jedate/skin/jedate.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <script src="/static/plugin/echarts.min.js"></script>
    <script src="/static/js/jquery-1.8.2.js"></script>
    <script src="/static/plugin/jedate/jquery.jedate.js"></script>
    <div class="contain">
    <!-- 日期-->
        <input id="sdate" class="date">
        <input id="edate" class="date">
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div id="chart1" class="chart"></div>


    </div>

    <script src="/static/js/common.js"></script>
    <script src="/static/js/main.js"></script>

</body>
</html>